[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
openai = "*"
langchain = "==0.2.16"
python-dotenv = "*"
dateparser = "*"
langchain-openai = "==0.1.23"
langchain-pinecone = "==0.2.8"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
google-api-python-client = "*"

[dev-packages]

[requires]
python_version = "3.12"
