[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
openai = "*"
langchain = "*"
python-dotenv = "*"
dateparser = "*"
google-auth-oauthlib = "==1.1.0"
google-auth-httplib2 = "==0.1.1"
google-api-python-client = "==2.108.0"
langchain-openai = "*"
langchain-pinecone = "*"

[dev-packages]

[requires]
python_version = "3.12"
